.iCons {
    color: #51B3FF;
}

.appBar {
    background-color: #51B3FF !important;
}

.button {
    background-color: #51B3FF !important
}

.button:hover {
    background-color: #fff !important;
    border: 1px solid #51B3FF;
    color: #51B3FF;

}

.link {
    color: rgb(83, 83, 83);
}