.container {
    width: 100vw;
    height: 100vh;
    background-color: #bba1fb;
    display: flex;
    flex-direction: column;

    .title-bar {
        background-color: #9E7BF9;
    }

    .body-cont {
        display: flex;

        .left-box {
            width: 20vw;
            height: 100vh;
            background-color: #9E7BF9;
            margin-top: 5px;
        }

        .right-box {
            width: 100%;
            margin-left: 40%;
        }
    }

    .message-list .rce-mbox-text.right {
        background: rgb(73, 248, 20);
    }

}