.container {
    width: 100vw;
    height: 100vh;
    background-color: red;
    display: flex;
    flex-direction: column;

    .title-bar {}

    .body-cont {
        display: flex;

        .left-box {

            width: 50vw;
            height: 100vh;
        }
    }

    .userTable {
        width: 50%;
        background: #dbdbdb;
        margin-top: 100px;
        margin-left: 1%;
        box-shadow: rgba(0, 0, 0, 0.07) 0px 1px 1px, rgba(0, 0, 0, 0.07) 0px 2px 2px, rgba(0, 0, 0, 0.07) 0px 4px 4px, rgba(0, 0, 0, 0.07) 0px 8px 8px, rgba(0, 0, 0, 0.07) 0px 16px 16px;
    }

    table,
    th,
    td {
        border: 1px solid;
        padding: 10px
    }

    .userTable thead th:first-child {
        position: sticky;
        left: 0;
        z-index: 2;
        background-color: #dbdbdb;
    }

    .userTable tbody .tdFirst {
        position: sticky;
        left: 0;
        z-index: 999;
        background-color: #dbdbdb;
    }

    .userTable table tbody th .usertBodyRow {
        position: sticky;
        left: 0;
        background: white;
        z-index: 1;
    }

    .userHeadRow {
        border-bottom: 2px solid rgb(83, 83, 83);
    }

    .usertBodyRow {
        border-bottom: 1px solid rgb(102, 102, 102);
    }

    .textAreaField textArea:focus {
        border: 2px solid #1a73e8;
        outline: none !important;
    }

    .textAreaField textArea {
        font-family: 'arial';
        font-weight: 400 !important;
        padding-left: 10px;
        font-size: 17px;
    }

    .alertbox {
        position: absolute;
        bottom: 0;
        align-items: center;
        margin-left: 11%;
    }
}

.rce-mlist {
    display: block;
    flex: 1;
    overflow: auto;
    position: relative;
    margin-bottom: 10px;
}

.rce-container-mbox {
    display: block;
    flex-direction: column;
    min-width: 300px;
    overflow-x: hidden;
}

.rce-mbox-body {
    margin: 0;
    padding: 0;
    position: relative;
}

.rce-mbox {
    background: #6200ff47;
    border-radius: 0 5px 5px;
    flex-direction: column;
    margin: 3px 15px 8px 180px;
    min-width: 140px;
    padding: 6px 9px 8px;
    position: relative;
    // box-shadow: rgba(6, 24, 44, 0.4) 0px 0px 0px 2px, rgba(6, 24, 44, 0.65) 0px 4px 6px -1px, rgba(255, 255, 255, 0.08) 0px 1px 0px inset;
}

.rce-container-mbox.You .rce-mbox {
    background: #86ffdd;
    margin: 3px 150px 8px 20px;
    // box-shadow: rgba(0, 0, 0, 0.06) 0px 2px 4px 0px inset;
}

.rce-mbox-title {
    align-items: center;
    color: #4f81a1;
    cursor: pointer;
    display: flex;
    font-size: 13px;
    font-weight: 500;
    margin: 0 0 8px;
    user-select: none;
}

.rce-container-mbox.You .rce-mbox-title {
    color: #3201f5d6;
}

.rce-mbox-text {
    font-size: 14px;
    word-break: break-word;
}

.rce-mbox-time {
    font-size: 10px;
    font-family: Verdana;
    color: #767676;
}

.rce-container-mbox.You .rce-mbox.rce-mbox--clear-notch.message-focus {
    margin: 3px 250px 8px 5px;
}

.rce-input {
    background-color: #51b3ff1a !important;
}

.rce-button {
    background: #00a0fd !important;
}