.container{
    width: 100vw;
    height: 100vh;
    background-color: red ;
    display:flex;
    flex-direction: column;

    .title-bar{
       
    }
    .body-cont{
       display: flex;
       .left-box{
        
        width: 50vw;
        height: 100vh;
       }
    }

}